<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>voting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>verifyservelet</display-name>
    <servlet-name>verifyservelet</servlet-name>
    <servlet-class>voting.verifyservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyservelet</servlet-name>
    <url-pattern>/verifyservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>voting.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtp</display-name>
    <servlet-name>VerifyOtp</servlet-name>
    <servlet-class>voting.VerifyOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtp</servlet-name>
    <url-pattern>/VerifyOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voteup</display-name>
    <servlet-name>voteup</servlet-name>
    <servlet-class>voting.voteup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voteup</servlet-name>
    <url-pattern>/voteup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addvoter</display-name>
    <servlet-name>Addvoter</servlet-name>
    <servlet-class>voting.Addvoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addvoter</servlet-name>
    <url-pattern>/Addvoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeCon</display-name>
    <servlet-name>TimeCon</servlet-name>
    <servlet-class>voting.TimeCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeCon</servlet-name>
    <url-pattern>/TimeCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Triggersms</display-name>
    <servlet-name>Triggersms</servlet-name>
    <servlet-class>voting.Triggersms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Triggersms</servlet-name>
    <url-pattern>/Triggersms</url-pattern>
  </servlet-mapping>
</web-app>